{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "CLOUDNOTES_STORAGE": "UseDevelopmentStorage=true",
    "REPORT_DELAY_SECONDS": "5"
  }
}
